@use "utils/_mixins" as mSt;

.blog {
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include mSt.adaptiv-value("padding-top", 70, 40, 0);
    @include mSt.adaptiv-value("padding-bottom", 70, 40, 0);
  }

  &__title {
    display: flex;
    justify-content: center;
    font-family: "Gelasio";
    font-style: normal;
    font-weight: 500;
    @include mSt.adaptiv-value("font-size", 43, 27, 0);
    line-height: 140%;
    /* or 60px */
  }

  &__text {
    align-self: center;
    max-width: 735px;
    @include mSt.adaptiv-value("font-size", 18, 16, 0);
    line-height: 160%;
    /* or 29px */
    text-align: center;
    opacity: 0.6;
    @include mSt.adaptiv-value("padding-top", 20, 5, 0);
  }

  &__cards {
    display: flex;
    @include mSt.adaptiv-value("padding-top", 56, 36, 0);
    @include mSt.adaptiv-value("gap", 32, 12, 0);

    @media (max-width: 950px) {
      flex-direction: column;
    }
  }

  &__card {
    display: flex;
    justify-self: center;
    @include mSt.adaptiv-value("gap", 30, 10, 0);

    @media (max-width: 950px) {
      display: flex;
      flex-direction: column;
    }
  }

  &__card-img {
    max-width: 554px;
    border-radius: 8px;
    box-shadow: 7px 7px 7px rgba(17, 17, 17, 0.8);

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__card-column {
    gap: 10px;

    @media (max-width: 950px) {
      display: flex;
      flex-direction: column;
    }
  }

  &__card-title {
    font-family: "Gelasio";
    font-weight: 500;
    @include mSt.adaptiv-value("font-size", 20, 16, 0);
    @include mSt.adaptiv-value("padding-top", 35, 5, 0);
    line-height: 160%;
  }

  &__card-text {
    font-weight: 400;
    @include mSt.adaptiv-value("font-size", 18, 14, 0);
    @include mSt.adaptiv-value("line-height", 29, 19, 0);
    padding-top: 10px;
    opacity: 0.6;
    text-align-last: left;
  }

  &__card-author {
    font-weight: 500;
    @include mSt.adaptiv-value("font-size", 20, 16, 0);
    @include mSt.adaptiv-value("line-height", 30, 20, 0);
    padding-top: 10px;
  }

  &__card-row {
    display: flex;
    flex-direction: column;
    justify-self: center;
    gap: 30px;
  }
}
.main {
  display: flex;
  flex-direction: column;
  max-width: 554px;

  img {
    width: 100%;
    height: auto;
    object-fit: contain;
  }
}
