@use "utils/_mixins" as mSt;

.footer {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  background: rgba(38, 148, 153, 0.04);
  &__container {
    display: flex;
    // max-height: 548px;
    @include mSt.adaptiv-value("padding-top", 70, 40, 0);
    @include mSt.adaptiv-value("padding-bottom", 70, 40, 0);
    justify-content: space-between;

    @media (max-width: 950px) {
      flex-direction: column;
      gap: 10px;
      justify-content: center;
      align-items: center;

      .footer__subscribe p{
        text-align: center;
      }
    }
  }

  &__logo {
    max-width: 190px;
  }

  &__logo-img {
    width: 124px;
    height: 36px;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__logo-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    /* identical to box height, or 26px */
    letter-spacing: 0.06em;
    @include mSt.adaptiv-value("padding-top", 40, 20, 0);
  }

  &__social-media {
    display: flex;
    @include mSt.adaptiv-value("padding-top", 40, 20, 0);
    justify-content: space-evenly;
  }

  &__social-media-icon {
    width: 20px;
    height: 20px;
  }

  &__social-media-img {
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__links {
    display: flex;
    flex-direction: column;
    max-width: 74px;
  }

  &__link {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    /* identical to box height, or 24px */
    letter-spacing: 0.06em;
  }

  &__legal-links {
    display: flex;
    flex-direction: column;
    max-width: 158px;
  }

  &__legal-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    /* identical to box height, or 24px */
    letter-spacing: 0.06em;
  }

  &__subscribe {
    p {
      padding-top: 10px;
      padding-bottom: 10px;
      @include mSt.adaptiv-value("font-size", 20, 16, 0);
      line-height: 150%;
      /* identical to box height, or 30px */
      letter-spacing: 0.06em;
      font-weight: bold;
      
    }

    form {
      display: flex;
      justify-content: space-evenly;
      gap: 35px;
    }

    input {
      width: 100%;
      // opacity: 0.8;
      padding-left: 15px;
      border: 1px solid rgba(0, 0, 0, 0.3);
      box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.15);
      border-radius: 5px;
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      /* identical to box height, or 24px */
      letter-spacing: 0.06em;

      &::placeholder {
        opacity: 0.8;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        /* identical to box height, or 24px */
        // letter-spacing: 0.06em;
        transition: all 0.5s ease;
        justify-content: center;
      }
    }
  }

  &__subscribe-btn {
    width: 103px;
    height: 44px;
    background: var(--color-btn);
    border-radius: 5px;
    color: #fff;

    &:hover {
      background: #fc1200;
      box-shadow: 1px 3px 5px rgba(164, 5, 5, 0.8);
    }
  }
}
