@use "utils/_mixins" as mSt;

.header {
  background-image: url(../img/Rectangle31.jpg);
  background-size: cover;
  background-position: left;
  background-repeat: no-repeat;

  &__container {
    display: flex;
    flex-direction: column;
    color: var(--color-second);
    @include mSt.adaptiv-value("padding-top", 35, 10, 0);
  }

  &__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    display: flex;
    @include mSt.adaptiv-value("width", 124, 84, 0);
    @include mSt.adaptiv-value("height", 36, 30, 0);

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__nav {
    display: flex;
    justify-content: space-between;
  }

  &__nav-list {
    display: flex;
    gap: 50px;
    font-weight: 500;
    @include mSt.adaptiv-value("font-size", 18, 16, 0);
    line-height: 27px;
    align-items: center;

    a {
      &:hover {
        font-weight: 800;
        color: var(--color-btn);
      }
    }
  }

  &__button {
    @include mSt.adaptiv-value("width", 163, 110, 0);
    @include mSt.adaptiv-value("height", 51, 40, 0);
  }

  &__row {
    display: flex;
    flex-direction: column;
    @include mSt.adaptiv-value("padding-top", 212, 20, 0);
    @include mSt.adaptiv-value("padding-bottom", 212, 50, 0);
  }

  &__tittle {
    padding-bottom: 30px;
    font-weight: 700;
    @include mSt.adaptiv-value("font-size", 65, 30, 0);
    @include mSt.adaptiv-value("line-height", 78, 45, 0);
  }

  &__text {
    max-width: 458px;
    height: 87px;
    margin-bottom: 40px;
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
    opacity: 0.6;
  }

  &__btn {
    display: flex;
    justify-content: center;
    
    @include mSt.adaptiv-value("width", 187, 134, 0);
    @include mSt.adaptiv-value("height", 59, 48, 0);
  }
}
.btn {
  display: flex;
  background: var(--color-btn);
  border-radius: 5px;
  align-items: center;
  align-content: center;
  justify-content: center;
  font-weight: 400;

  &:hover {
    background: #020024;
    background: linear-gradient(15deg, rgb(122, 10, 0) 0%, rgb(121, 11, 9) 25%, rgb(237, 82, 55) 100%);
  }

  @include mSt.adaptiv-value("font-size", 16, 14, 0);
  line-height: 24px;
  a {
    @include mSt.adaptiv-value("font-size", 16, 14, 0);
    line-height: 24px;
  }
}
.burger {
  display: none;
  position: relative;
  //   right: 10px;
  z-index: 50;
  align-items: center;
  justify-content: flex-end;
  width: 30px;
  height: 25px;

  span {
    height: 3px;
    width: 80%;
    transform: scale(1);
    background-color: #ffff;
    z-index: 10;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    height: 3px;
    width: 100%;
    background-color: #ffff;
    transition: all 0.3s ease 0s;
    z-index: 10;
  }

  &::before {
    top: 0;
  }

  &::after {
    bottom: 0;
  }

  &.active span {
    transform: scale(0);
  }

  &.active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0, -50%);
  }
  &.active::after {
    bottom: 50%;
    transform: rotate(45deg) translate(0, 50%);
  }
}

@media (min-width: 901px) {
  .burger {
    display: none;
  }
}

@media (max-width: 900px) {
  // max-width иной по проекту
  .burger {
    display: flex;
  }
  .header__nav {
    display: none;
  }
  .header__button {
    display: none;
  }
  .burger__nav-list {
    display: none;
    flex-direction: column;
    position: fixed;
    gap: 10px;
    height: 100%;
    width: 100%;
    top: 0px;
    bottom: 0;
    left: 0;
    right: 0;
    // z-index: 10;
    text-align: right;
    overflow-y: auto;
    padding: 50px 40px;
    background-color: rgba(41, 47, 54, 0.51);
    background-color: #2c4767;
    animation: burgerAnimation 1s;

    .acsent {
      color: var(--color-btn);
    }

    @keyframes burgerAnimation {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }
  }
}
