@use "sass:math";
@use "_settings.scss" as set;

//Percent
@function percent($px, $from: 100) {
  $result: math.div($px, $from) * 100%;
  @return $result;
}
//REM
@function toRem($px, $current: 16) {
  $result: math.div($px, $current) + rem;
  @return $result;
}
//EM
@function toEm($px, $current: 16) {
  $result: math.div($px, $current) + em;
  @return $result;
}

//Currency
@mixin currency($sym) {
  &::after {
    content: "#{$sym}";
  }
}

@mixin font($font_name, $file_name, $weight, $style) {
  @font-face {
    font-family: $font_name;
    font-display: swap;
    src: url("../fonts/#{$file_name}.woff2") format("woff2"), url("../fonts/#{$file_name}.woff") format("woff");
    font-weight: #{$weight};
    font-style: #{$style};
  }
}

// 1200 px ширина по макету
//padding: calc(20px + (50 - 20) * ((100vw - 320px) / (1200 - 320)));
// 20px - min padding value on 320px width screen which we want to see, (50 - 20) - изначальное значение padding по макету минус конечное значение (которое хотим увидеть или оно установлено в адаптиве макета), (100vw - 320px) - от ширины viewport отнимаем минимальную ширину экрана, (1200 - 320) - максимальная ширина страницы по макету минус минимальный размер экрана

//пишем запросы, в .container max-width: 1200px - по макету прописано ДОЛЖНО БЫТЬ!!!!!!!!

// @include adaptiv-value("font-size", 36, 12, 0);

@mixin adaptiv-value($property, $startSize, $minSize, $type) {
  $addSize: $startSize - $minSize;
  @if $type == 1 {
    #{$property}: #{$startSize}px;
    @media (max-width: #{set.$maxWidthContainer}px) {
      #{$property}: calc(#{$minSize}px + #{$addSize} * ((100vw - 320px) / (#{set.$maxWidthContainer} - 320)));
    }
  } @else if $type == 2 {
    #{$property}: #{$startSize}px;
    @media (min-width: #{set.$maxWidthContainer}px) {
      #{$property}: calc(#{$minSize}px + #{$addSize} * ((100vw - 320px) / (#{set.$maxWidth} - 320)));
    }
  } @else {
    #{$property}: calc(#{$minSize}px + #{$addSize} * ((100vw - 320px) / (#{set.$maxWidth} - 320)));
  }
}


@function fluid($max, $min: null, $min-width: 320, $max-width: 1920) {
  @if $min == null {
    $min: $max * 0.75;
  }

  $delta: $max - $min;
  $vw-delta: $max-width - $min-width;

  @return clamp(
    #{$min}px,
    calc(#{$min}px + #{$delta} * ((100vw - #{$min-width}px) / #{$vw-delta})),
    #{$max}px
  );
}